<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div style="width: 50%; float:left">
      <ion-card style="height: 200PX; background-color: aliceblue;" (click)="printBT()">
      
        <ion-card-content style="margin-top: 50%; color: black;">
         Bluetooth Printer
        </ion-card-content>
      </ion-card>
   </div>
   
   <div style="width: 50%; float:right">
    <ion-card style="height: 200PX; background-color: aliceblue;">
      
      <ion-card-content style="margin-top: 50%; color: black;">
        USB Printer
      </ion-card-content>
    </ion-card>
   </div>
   <div style="width: 50%; float:left" >
    <ion-card style="height: 200PX; background-color: aliceblue;" (click)="MobileSettings()">
    
      <ion-card-content style="margin-top: 50%; color: black;">
       Mobile Settings
      </ion-card-content>
    </ion-card>
 </div>
 
 <div style="width: 50%; float:right">
  <ion-card style="height: 200PX; background-color: aliceblue;" (click)="viberation()">
    <ion-card-content style="margin-top: 50%; color: black;">
      Viberation
    </ion-card-content>
  </ion-card>
 </div>
</div>
</ion-content>
