<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Blank </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button (click)="printBT()"> Bluetooth Printer </ion-button>
    <ion-button (click)="USBPrinter()"> USB Printer  <p>{{device_status}}</p></ion-button>
    <ion-button (click)="USBPrinterImage()"> USB Printer Image <p>{{device_status}}</p></ion-button>
    <ion-button (click)="MobileSettings()">  Mobile Settings <p>{{device_status}}</p></ion-button>
    <ion-button (click)="viberation()">  Viberation <p>{{device_status}}</p></ion-button>
    <ion-button (click)="Background()">Background Services</ion-button>
  </div>
</ion-content>
